.LoginForm {
    width: 60%;
    height: 65%;
    padding: 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.text-center {
    margin-top: 0px;
}

.LoginTitle {
    margin: 0;
    font-size: xx-large;
}

.SignUpButton {
    margin-top: 5px;
}

.logo {
    font-family: 'Poppins', sans-serif;
}