.main-nav {
    background-color: #f8f9fa;
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: 0;
    margin-right: 0;
}

nav.navbar-expand {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-family: 'Poppins', sans-serif;
}
