.SignUpForm {
    width: 60%;
    height: 70%;
    padding: 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.text-center {
    margin-top: 0px;
}

.SignUpTitle {
    margin: 0;
    font-size: xx-large;
}

.logo {
    font-family: 'Poppins', sans-serif;
}

.SignUpHeader {
    margin-bottom: 10px;
}

.LoginButton {
    margin-top: 5px;
}