.CreateCommunityPage {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #dae0e6;
}

.CreateCommunityForm {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 45%;
    padding: 25px;
    margin-top: 25px;
}

.CreateCommunityTitle {
    margin-left: 15px;
}

.mb-3 {
    margin-top: 15px;
}