$background-color: #dae0e6;
$containers-background: #e0e0e0;
$header-type: #1d1c1c;
$body-type: #454c50;
$light-type: #8b9ba6;
$hover: #868b94;
$primary: #FFCE54;
$secondary: #A0D468;
$upvote: #DA4453;
$downvote: #967ADC;

#root {
    background-color: $background-color;
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: 100%;
    padding-top: 62px;
}

.main-nav {
    background-color: #f8f9fa;
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    margin-left: 0;
    margin-right: 0;
}

.ExplorePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ExploreCard {
    width: 45%;
    margin: 5px;
    padding: 15px;
}

.ExplorePageTitle {
    width: 45%;
    margin: 15px;
    padding: 15px;
}

// .NavBarContainer {
    
// }
// to be moved around to appropriate parts:
// .container {
//     border-radius: 14px;
//     background: #e0e0e0;
//     box-shadow:  19px 19px 43px #8d8d8d,
//                  -19px -19px 43px #ffffff;
// }

.logo {
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}

// BOOTSTRAP TARGETING

$navbar-light-color: $secondary;
$offcanvas-bg-color: $secondary;
$offcanvas-color: black;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

@import "~bootstrap/scss/bootstrap"
